@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

:root {
  --primary-white: #fff;
  --primary-green: #37c12a;
  --primary-dark: rgba(255,255,255, 0);


}

body {
  font-family: "Montserrat";
}

.sb-logo {
  width: 16.25rem;
}

.nav-link {
  letter-spacing: 0.037rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;

}


.navbar-nav > li > a {
  color: rgb(205, 205, 205) !important;
  margin-right: .75rem;
  margin-left: .75rem;
  border-top: 0.1875rem solid var(--primary-dark);


  
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0rem !important;
  height: 6.5rem !important;

}


.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-white);

}


.navbar-toggler:hover {
color: var(--primary-white)!important;
}